@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #151515;
}

.react-flow__renderer {
  background: #151515;
}

input {
  font-family: "Roboto Mono", "Fira Code", monospace;
}

.pointer-cursor {
  cursor: pointer !important;
}
